{% load i18n %}
<dialog id="{{ id|default:'modal' }}" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box w-11/12 max-w-4xl">
    <div class="flex justify-between items-center mb-4 pb-3 border-b border-base-300">
      <h3 id="{{ id|default:'modal' }}-title" class="font-semibold text-xl truncate">{{ title|default:"Modal Title" }}</h3>
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost close-modal" data-modal-id="{{ id|default:'modal' }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </form>
    </div>
    
    <div id="{{ id|default:'modal' }}-content" class="py-2">
      {{ content|safe }}
    </div>
    
    <div class="modal-action mt-4 pt-3 border-t border-base-300">
      {% if show_download %}
      <a id="{{ id|default:'modal' }}-download" href="#" class="btn btn-primary" download target="_self">
        <span class="material-symbols-rounded mr-2">download</span>
        {% trans "download" %}
      </a>
      {% endif %}
      <form method="dialog">
        <button class="btn btn-ghost close-modal" data-modal-id="{{ id|default:'modal' }}">
          {% trans "close" %}
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop close-modal-backdrop" data-modal-id="{{ id|default:'modal' }}">
    <button class="close-modal" data-modal-id="{{ id|default:'modal' }}" style="width: 100%; height: 100%; opacity: 0;">close</button>
  </form>
</dialog>
